<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header a {
            text-decoration: none;
            color: #007bff;
        }

        h1 {
            font-size: 26px;
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        textarea {
            height: 200px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1><a href="/articles">All articles</a></h1>
        <h1>Edit Article</h1>
    </div>

    <form method="post" action="/update-article">
        <input type="hidden" name="article_id" value="{{ article.id }}">

        <label for="article_title">Title of the article</label>
        <input minlength="5" maxlength="40" type="text" id="article_title" name="article_title" value="{{ article.title }}" required>

        <label for="article_text">Text of the article</label>
        <textarea minlength="5" maxlength="750" id="article_text" name="article_text" required>{{ article.text }}</textarea>

        <input type="submit" value="Update">
    </form>
</div>
</body>
</html>
